/* Header */

header {
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

h1 a {
    padding-left: 30%;
    text-decoration: none;
    color: black;
}

/* App */

.container {
    display: flex;
    flex-direction: row;
}

nav {
    width: 30%;
    border-right: 1px solid black;
}

main {
    width: 100%;
}

/* Note List Nav */

.active-folder {
    background-color: yellow;
}

.note-list-nav-container {
    display: flex;
    flex-direction: column;
}

.folder-item {
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: 10px;
}

.folder-item a {
    text-decoration: none;
    color: black;
}

.add-folder-button {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    align-self: center;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.add-folder-button:hover {
    background-color: black;
    color: white;
}

/* Note List Main */

.note-list-main-container {
    display: flex;
    flex-direction: column;
}

.note-list {
    list-style-type: none;
}

.note-item {
    margin-bottom: 10px;
}

.add-note-button {
    margin: 0px 10px 10px 10px;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.add-note-button:hover {
    background-color: black;
    color: white;
}

/* Note */

.note-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

.note-name {
    text-decoration: none;
    color: black;
}

h3 {
    padding-bottom: 20px;
}

.delete-note-button {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    align-self: flex-end;
    background-color: white;
    font-weight: bold;
}

.delete-note-button:hover {
    background-color: black;
    color: white;
}

/* Note Page Nav */

.note-page-nav-container {
    display: flex;
    flex-direction: column;
}

.go-back-button {
    margin: 10px 0px;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    align-self: center;
    background-color: white;
    font-weight: bold;
}

.go-back-button:hover {
    background-color: black;
    color: white;
}

.note-page-nav-folder-name {
    text-align: center;
}

/* Note Page Main */

.note-content {
    margin-left: 10px;
}

/* Add Folder */
.add-folder-form {
    margin: 10px;
}

.add-folder-input {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 30px;
}

.save-folder-button {
    margin-left: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    height: 30px;
    background-color: white;
    font-weight: bold;
}

.save-folder-button:hover {
    background-color: black;
    color: white;
}

/* Add Note */
.add-note-form {
    margin: 10px;
}

.add-note-container {
    display: flex;
    flex-direction: column;
}

.add-note-input {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 30px;
}


.folder-drop-down {
    margin-bottom: 10px;
    border: 1px solid black;
    width: 200px;
    height: 30px;
}

.save-note-button {
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.save-note-button:hover {
    background-color: black;
    color: white;
}
    